body {background-color:#001a00;}
h1 {color: white;}
h2 {color: blue; Text-Align: center;}
h3 {color: white; Text-Align: center;}
p {color: red;}
dd{color: white;} 
li{color:#000080;Text-Aligng:center;}
a{color:#e5e5f2;}
